<div class="main">
  <div class="section" id="hero">
    <nav>
      <h1>r3_v3ng3r</h1>
      <button class="toggle-menu">
        <i-feather name="menu" ngClass="menu-icon"></i-feather>
      </button>
    </nav>
    <div class="hero-body">
      <p class="quote">
        I've to add a programming quote here.<br />But I didn't find anything
        fascinating yet!
      </p>
      <p class="action">If you have any suggestions, Please share.</p>
    </div>
    <div class="hero-footer">
      <div class="with-love">made with <span>Passion</span></div>
      <div class="social-icons">
        <button
          *ngFor="let link of contactSocialLinks"
          [title]="link.name"
          (click)="navigateTo(link.url)"
        >
          <i-feather [name]="link.icon" ngClass="icon"></i-feather>
        </button>
      </div>
    </div>
  </div>
  <div class="section" id="about" #about>
    <div class="intro">
      <p>Hey! I'm Vamsi Krishna Kodimela.<br />Nice to meet you.</p>
      <button>Resume</button>
    </div>
    <div class="description">
      <p class="about">
        I m a Full Stack Developer with over 5+ years of experience and
        enthusiastic to explore blockchain and XR technologies for a better
        tomorrow.<br /><br />I help startups to bring their ideas into reality
        by creating rich & interactive applications that work across platforms &
        devices.
      </p>

      <div class="skills">
        <h2>I work with:</h2>
        <div class="skills-grid">
          <div
            class="skill"
            *ngFor="let skill of skills"
            [title]="skill.title"
            [ngStyle]="{ 'background-image': 'url(' + skill.image + ')' }"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="projects">
    <h2>Projects</h2>
    <div class="projects-grid" #project>
      <div class="project" *ngFor="let project of projects; let index = index">
        <div class="project-meta">
          <h3 [title]="project.title">{{ project.title }}</h3>
          <p>{{ project.description }}</p>
          <div class="project-actions">
            <a [href]="project.link" class="action" *ngIf="project.link"
              ><i-feather name="link-2" class="icon"></i-feather
            ></a>
            <a
              [href]="project.github"
              class="action"
              target="_blank"
              *ngIf="project.github"
              ><i-feather name="code" class="icon"></i-feather
            ></a>
          </div>
        </div>
        <div
          class="img"
          [ngStyle]="{ 'background-image': 'url(' + project.image + ')' }"
        ></div>
      </div>
    </div>
  </div>
  <div class="section" id="contactUs">
    <div class="contact-info">
      <h2>Get in touch</h2>
      <p>
        I'm currently available for freelance work. If you have a project that
        you want to get started, think you need my help with something or just
        fancy saying hey, then get in touch.
      </p>
      <div class="social-links">
        <a
          [href]="link.url"
          [title]="link.name"
          target="_blank"
          class="link"
          *ngFor="let link of contactSocialLinks"
          ><i-feather name="{{ link.icon }}" class="icon"></i-feather
        ></a>
      </div>
    </div>
    <div class="conact-form">
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" placeholder="Who are you..." />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" placeholder="How can I reach you..." />
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea
            id="message"
            placeholder="Let's start with something to chat..."
            rows="5"
          ></textarea>
        </div>
        <button type="button">Send</button>
      </form>
    </div>
  </div>
</div>

<div class="cursor"></div>
<div class="cursor-point"></div>
