<div class="main">
  <div class="section" id="hero">
    <nav>
      <h1>Vamsi Kodimela</h1>
      <button class="toggle-menu">
        <i-feather name="menu" ngClass="menu-icon"></i-feather>
      </button>
    </nav>
    <div class="hero-body">
      <p class="quote">
        I've to add a programming quote here.<br />But I didn't find anything
        fascinating yet!
      </p>
      <p class="action">If you have any suggestions, Please share.</p>
    </div>
    <div class="hero-footer">
      <div class="with-love">made with <span>Passion</span></div>
      <div class="social-icons">
        <button>
          <i-feather name="github" ngClass="icon"></i-feather>
        </button>
        <button>
          <i-feather name="linkedin" ngClass="icon"></i-feather>
        </button>
        <button>
          <i-feather name="twitter" ngClass="icon"></i-feather>
        </button>
        <button>
          <i-feather name="instagram" ngClass="icon"></i-feather>
        </button>
      </div>
    </div>
  </div>
  <div class="section" id="about" #about>
    <div class="intro">
      <p>Hey! I'm Vamsi Krishna Kodimela.<br />Nice to meet you.</p>
      <button>Resume</button>
    </div>
    <div class="description">
      <p class="about">
        I m a Full Stack Developer with over 5+ years of experience and
        enthusiastic to explore blockchain and XR technologies for a better
        tomorrow.<br /><br />I help startups to bring their ideas into reality
        by creating rich & interactive applications that work across platforms &
        devices.
      </p>

      <div class="skills">
        <h2>I work with:</h2>
        <div class="skills-grid">
          <div
            class="skill"
            *ngFor="let skill of skills"
            [title]="skill.title"
            [ngStyle]="{ 'background-image': 'url(' + skill.image + ')' }"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="projects">Hello World</div>
  <div class="section" id="contactUs">Hiiiiii</div>
</div>
