@primary-color: #121212;
@secondary-color: #ffffff;

.main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .section {
    display: flex;
    position: absolute;
    top: 0;
    padding: 3rem 8.56rem;
    background-color: @secondary-color;
    width: 100%;
    height: 100vh;
    &:nth-child(even) {
      background-color: @primary-color;
    }
    &#hero {
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
      nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
          margin: 0px;
          padding: 0px;
          color: @primary-color;
          font-size: 1.8rem;
          font-weight: 600;
        }
        .toggle-menu {
          background-color: transparent;
          border: none;
          outline: none;
          cursor: pointer;
          .menu-icon {
            color: @primary-color;
            width: 2rem;
            height: 2rem;
          }
        }
      }
      .hero-body {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        p {
          padding: 0px;
          margin: 0px;
          color: @primary-color;
          text-align: center;
          &.quote {
            font-size: 2.5rem;
            line-height: 3rem;
            font-weight: 800;
          }
          &.action {
            font-size: 1rem;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
      .hero-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .with-love {
          color: @primary-color;
          text-align: center;
          font-size: 1rem;
          font-weight: 300;
          span {
            font-weight: 600;
          }
        }
        .social-icons {
          display: flex;
          gap: 1rem;
          button {
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            .icon {
              width: 1.5rem;
              height: 1.5rem;
              color: @primary-color;
              transition: all 0.3s ease-in-out;
              &:hover {
                transform: scale(1.2);
              }
            }
          }
        }
      }
    }

    &#about {
      top: 100vh;
      background-color: @primary-color;
      scroll-snap-align: start end;
      display: flex;
      justify-content: flex-end;
      gap: 3rem;
      padding: 0px 8.56rem;
      color: @secondary-color;
      .intro,
      .description {
        padding: 12rem 0px;
        flex: 1;
        flex-shrink: 0;
      }
      .intro {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        p {
          font-size: 2.5rem;
          font-weight: 700;
          padding: 0px;
          margin: 0px;
        }
        button {
          width: 12rem;
          height: 3.5rem;
          color: @primary-color;
          background-color: @secondary-color;
          text-align: center;
          font-size: 1.2rem;
          font-weight: 600;
          cursor: pointer;
          position: relative;
          transition: all 0.3s ease-in-out;
          &:hover {
            &::after {
              opacity: 1;
            }
            opacity: 0.6;
          }
          &:active {
            opacity: 1;
            &::after {
              transform: translate(0rem, 0rem);
            }
            transform: translate(0.5rem, 0.5rem);
          }
          &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            border: 2px solid @secondary-color;
            transform: translate(0.5rem, 0.5rem);
            transition: all 0.3s ease-in-out;
          }
        }
      }
      .description {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        max-width: 50%;
        .about {
          padding: 0px;
          margin: 0px;
          font-size: 1.2rem;
        }
        .skills {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          h2 {
            margin: 0px;
            padding: 0px;
            font-size: 1.5rem;
            font-weight: 600;
          }
          &-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 4rem;
            .skill {
              width: 5rem;
              height: 5rem;
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
              background-blend-mode: "difference";
              filter: grayscale(100%);
              -webkit-filter: grayscale(100%);
              transition: all 0.3s ease-in-out;
              &:hover {
                filter: grayscale(0%);
                -webkit-filter: grayscale(0%);
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
    &#projects {
      padding: 3rem 0px;
      top: 200vh;
      flex-direction: column;
      gap: 4rem;
      h2 {
        padding: 0px 8.56rem;
        margin: 0px;
        color: @primary-color;
        font-size: 3rem;
        font-weight: 800;
        text-shadow: 0px 16px 4px rgba(@primary-color, 0.08);
      }
      .projects-grid {
        padding-left: 8.56rem;
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;
        gap: 4rem;
        .project {
          width: 25rem;
          height: fit-content;
          flex-shrink: 0;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          &:nth-child(even) {
            flex-direction: column-reverse;
          }
          img {
            width: 25rem;
            height: 25rem;
            object-fit: contain;
          }
          &-meta {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            h3 {
              margin: 0px;
              padding: 0px;
              color: @primary-color;
              font-size: 1.5rem;
              font-weight: 700;
              overflow: hidden;
              text-overflow: ellipsis;
              @secondary-color-space: nowrap;
            }
            p {
              margin: 0px;
              padding: 0px;
              color: @primary-color;
              font-size: 1rem;
              font-weight: 300;
              font-family: "Roboto", sans-serif;
              max-height: 4.75rem;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .project-actions {
              margin-top: 0.5rem;
              display: flex;
              gap: 1rem;
              .action {
                display: flex;
                justify-content: center;
                align-items: center;
                color: @primary-color;
                border: 1px solid @primary-color;
                width: 2rem;
                height: 2rem;
                position: relative;
                background-color: @secondary-color;
                .icon {
                  width: 1rem;
                  height: 1rem;
                  color: @secondary-color;
                  mix-blend-mode: difference;
                }
                &::after {
                  content: "";
                  position: absolute;
                  left: 2rem;
                  right: 0;
                  bottom: 0;
                  top: 0;
                  background-color: @secondary-color;
                  transition: all 0.3s ease-in-out;
                  mix-blend-mode: difference;
                }
                &:hover {
                  &::after {
                    left: 0rem;
                  }
                }
              }
            }
          }
        }
      }
    }
    &#contactUs {
      top: 300vh;
      color: @secondary-color;
      display: flex;
      align-items: center;
      gap: 4rem;
      .contact-info {
        min-width: 50%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        h2 {
          margin: 0px;
          padding: 0px;
          font-size: 3rem;
          font-weight: 800;
          text-shadow: 0px 16px 4px rgba(@secondary-color, 0.08);
        }
        p {
          padding: 0px;
          margin: 0px;
          font-size: 1rem;
        }
        .social-links {
          display: flex;
          gap: 1rem;
          .link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2rem;
            height: 2rem;
            color: @secondary-color;
            mix-blend-mode: difference;
            border: 1px solid @secondary-color;
            position: relative;
            .icon {
              width: 1rem;
              height: 1rem;
              color: @secondary-color;
              mix-blend-mode: difference;
            }
            &::after {
              content: "";
              position: absolute;
              left: 2rem;
              right: 0;
              bottom: 0;
              top: 0;
              background-color: @secondary-color;
              transition: all 0.3s ease-in-out;
              mix-blend-mode: difference;
            }
            &:hover {
              &::after {
                left: 0rem;
              }
            }
          }
        }
      }
      .conact-form {
        min-width: 50%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        form {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          .form-group {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            label {
              font-size: 1rem;
              font-weight: 600;
            }
            input {
              padding: 1rem 0.5rem;
              border: 1px solid @secondary-color;
              font-size: 1rem;
              font-weight: 300;
              color: @secondary-color;
              background-color: rgba(@secondary-color, 0.08);
              &:focus {
                outline: none;
              }
            }
            textarea {
              padding: 1rem 0.5rem;
              border: 1px solid @secondary-color;
              font-size: 1rem;
              font-weight: 300;
              color: @secondary-color;
              background-color: rgba(@secondary-color, 0.08);
              &:focus {
                outline: none;
              }
            }
          }
          button {
            margin-top: 1rem;
            padding: 1rem 0.5rem;
            border: 1px solid @secondary-color;
            font-size: 1rem;
            font-weight: 300;
            color: @primary-color;
            background-color: @secondary-color;
            position: relative;
            transition: all 0.3s ease-in-out;
            &::after {
              content: "";
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              top: 0;
              transform: translate(-0.5rem, 0.5rem);
              border: 2px solid @secondary-color;
              transition: all 0.3s ease-in-out;
              cursor: pointer;
            }
            &:focus {
              outline: none;
            }
            &:active {
              transform: translate(-0.5rem, 0.5rem);
              &::after {
                transform: translate(0rem, 0rem);
              }
            }
          }
        }
      }
    }
  }
}

.cursor {
  top: 0;
  left: 0;
  position: fixed;
  background: #ffffff;
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  border-radius: 50%;
  will-change: transform;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  mix-blend-mode: difference;
  transition: transform 0.3s ease-out;
}

.cursor-point {
  top: 0;
  left: 0;
  position: fixed;
  background: #ffffff;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  will-change: transform;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  mix-blend-mode: difference;
}
